body{
    display: flex;
    flex-direction: column;
}


footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-grow: 1;
    padding: 50px;
    justify-content: center;

}

nav{
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 0px;
    padding-left: 0px;
}

nav ul{
    list-style-type: none;
    
}

#action_header{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#action_b{
    align-self: center;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: solid;
    color: white;
    font-size: 24px;
    height: 45px;
    width: 150px;

}

#action_div{
    padding-right: 200px;
}

#action_p{
    color: #e5e7eb;
    margin-top: 0px;
    align-self: center;
    justify-content: center;
}

#awesome{
    color: #f9faf8;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#first_b{
    background-color: #3882f6;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 150px;
}

#first_block{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
}

#first_flex{
    display: flex;
    flex-grow: 1;
    padding-bottom: 150px;
}

#fourth_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

#fourth_flex{
    align-self: center;
    background-color: #3882f6;
    border-radius: 9px;
    color: white;
    display: flex;
    font-family: sans-serif;
    font-size: 22px;
    flex-grow: 1;
    font-weight: 300;
    justify-content: center;
    margin-bottom: 110px;
    margin-top: 110px;
    padding-bottom: 50px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 40px;
}

#h_logo{
    align-self: flex-end;
    color: #f9faf8;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 24px;
}

#img{
    align-self: center;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 0px;
    padding-left: 0px;

}

#info_header{
    align-self: center;
    color: #1f2937;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 800;
    flex-grow: 1;
}

#info_flex{
    display: flex;
    gap: 40px;
    justify-content: center;
}

#my_list{
    display: flex;
    justify-content: flex-end;
}

#placeholder_img{
    background-color: gray;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 0px;
    padding-left: 0px;
}

#second_block{
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    padding-top: 50px;
}

#second_flex{
    display: flex;
    flex-grow: 1;
    row-gap: 0px;  
}

#sign_up_div{
    color: #e5e7eb;
    font-family: sans-serif;
    font-size: 18px;
    flex-grow: 1;
    margin-right: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

#sign_up_txt{
    margin-top: 0px;
    padding-top: 0px;
}

#third_block{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

#quote_author{
    align-self: flex-end;
    font-family: sans-serif;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 800;
    margin-top: 0px;
}

#quote_div{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 150px;

}

#quote_txt{
    color: #1f2937;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0px;
}

.info_div{
    display: flex;
    flex-direction: column;
}

.info_subtxt{
    color: #47484b;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.mt_div{
    border-color: #3882f6;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    flex-basis: auto;
    height: 200px;
    width: 200px;
}

.my_nav{
    display: inline-block;
    color: #e5e7eb;
    font-family: sans-serif;
    font-size: 18px;
    justify-content: flex-end;
    margin: 13px;
}
